.header-wrapper
    .container3
        .row
            .col-lg-2.col-md-4.col-sm-6.col-xs-12
                .logo
                    a(href="/")
                        img(src="new-images/PeopleFocusedLogo.png", alt="")
            .col-lg-7.col-md-8.col-sm-12.col-xs-12
                // navigations
                .navigation
                    #navigation
                        ul
                            li.active
                                a(href='/') Home
                            li
                                a(href='/blog') Blog
                            li.has-sub
                                a(href='/services') Services
                                ul
                                    li
                                        a(href='/training') Training
                                    li
                                        a(href='/coaching') Coaching
                                    li
                                        a(href='/recruitment') Recruitment & Outsourcing
                                    li
                                        a(href='/technology') Technology
                                    li
                                        a(href='/contact') Consulting
                            li
                                a(href='/Jobs') Jobs
                            li
                                a(href='/contact') Contact
                // /.navigations
            .col-lg-3.hidden-md.col-sm-6.hidden-xs.pull-right
                a.btn.btn-outline.head-btn(href='#requestAConsultation') Request A Consultation
// /. header-section
