// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='js/jquery.min.js' type='text/javascript')
// Include all compiled plugins (below), or include individual files as needed
script(src='js/bootstrap.min.js' type='text/javascript')
script(src='js/menumaker.js' type='text/javascript')
script(type='text/javascript' src='js/jquery.sticky.js')
script(type='text/javascript' src='js/sticky-header.js')
script(type='text/javascript' src='js/owl.carousel.min.js')
script(type='text/javascript' src='js/multiple-carousel.js')
script(type='text/javascript').
  $("#dots").click(function () {
  $(".top-header").toggle("slow", function () {
  // Animation complete.
  });
  });