extends base

block content 
    // page-header
    .page-header
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .page-caption
                        h1.page-title Know About Us
    // /.page-header
    // about-section
    .content
        .container
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-12.mb60
                    div
                        img.img-responsive(src='images/about_img_1.jpg' alt='')
                .col-lg-6.col-md-6.col-sm-6.col-xs-12.mb60
                    h2 Everything You Need to Know About Us
                    p.lead
                        | People Focused Consulting is an human resource consulting firm
                        | established in Nigeria to change the face of people management
                        | practice in Africa by deploying state of the art technology and
                        | digital solutions with global best practices to develop, manage
                        | and maximize people’s efficiency and productivity towards building
                        | sustainable wealth for themselves and their organisation across
                        | Africa.
                    // <a href="#" class="btn btn-outline" style="margin-right: 10px;">Meet our client</a>
                    a.btn.btn-outline(href='/jobs') View Jobs
        .container
            .row
                // features-center
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .feature-boxed
                        .feature-icon
                            i.icon-target
                        .feature-content
                            h3 Mission
                            p
                                | Managing people, discovering talents and building capacity
                                | through technology to help individual and clients develop and
                                | maximize their potential for sustained productivity for
                                | personal and business gains.
                // /.features-center
                // features-center
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .feature-boxed
                        .feature-icon
                            i.icon-idea
                        .feature-content
                            h3 Vision
                            p
                                | To be the Foremost Technology Driven People Management and
                                | Capacity Development Enterprise in Africa
                // /.features-center
                // features-center
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .feature-boxed
                        .feature-icon
                            i.icon-quality
                        .feature-content
                            h3 Values
                            p
                                | Our core values are Professionalism, Excellence, Originality,
                                | Performance, Loyalty and Engagement.
                // /.features-center
                // about-section
                // features-section
                .space-medium.bg-light
                    .container
                        .row
                            // section-title
                            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                .section-title
                                    h2 Reasons To Choose us
                                    p
                                        | “Morbi nec erat feugiat commodo ante condimentum maximus urna
                                        | estibulum feugiat euismod”
                            // /.section-title
                        .row
                            // features
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12
                                .feature
                                    .feature-content
                                        h4 Maximum Productivity
                                        p
                                            | People Focused is an HR Consulting firm that specializes in
                                            | managing and developing people to increase their productivity
                                            | and value.
                            // /.features
                            // features
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12
                                .feature
                                    .feature-content
                                        h4 Experienced Team
                                        p
                                            | We have a strong team who are subject matter experts and
                                            | possess vast on the job experience in various field and
                                            | economic sector which include Oil and Gas, Academics, Human
                                            | Resource, Banking and Finance, Manufacturing, Information
                                            | Technology etc
                            // /.features
                            // features
                            .col-lg-4.col-md-4.col-sm-4.col-xs-12
                                .feature
                                    .feature-content
                                        h4 Technology inclined
                                        p
                                            | Proficiency and quick deployment of latest technology to solve
                                            | people and business challenges towards people productivity and
                                            | organizational profitability
                            // /.features
                            // /.features-section
                            // team-section
                            .space-medium
                                .container
                                    .row
                                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                            // section-title
                                            .section-title
                                                h1 The Team
                                            // /.section-title
                                    .row
                                        // team-leader
                                        .col-lg-4.col-md-4.col-sm-4.col-xs-12
                                            .team-block
                                                .team-img
                                                    img.img-responsive(src='./images/team_member_3.jpg' alt='')
                                                .team-content
                                                    h4.team-title Tolulade Adedayo
                                                    p.team-meta Director & Lead Consultant
                                        // /.team-leader
                                        // team-achievements
                                        .col-lg-4.col-md-4.col-sm-4.col-xs-12
                                            ul(style='list-style-type: disc;')
                                                li Over 17 years experience in the corporate world
                                                li
                                                    | Sectoral experience in Education, Finance,
                                                    | Manufacturing, Consulting & Oil & Gas
                                                li
                                                    | B.Sc. Engineering & Masters Managerial Psychology
                                                li Influential Human Resource Leader & Expert
                                                li
                                                    | Member, Chartered Institute of Personnel
                                                    | Management of Nigeria
                                                li
                                                    | Member, Chartered Institute of Bankers of Nigeria
                                        // team-achievements
                                        // /.team-section
                                        // client-section
                                        .space-medium
                                            .container
                                                .row
                                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                        // section-title
                                                        .section-title
                                                            h2 Meet the Faculty
                                                        // /.section-title
                                                .row
                                                    // clients logo
                                                    .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                        .client-block
                                                            .client-head
                                                                a.client-img(href='#')
                                                                    img(src='./images/client_logo_1.png' alt='')
                                                            .client-content
                                                                h4
                                                                    a(href='#') KUNLE DAUDA
                                                                p
                                                                    | Becenas in suscipit veliuleres ue mauris oneepurus sedelitsei
                                                                    | spit vennibh sulimauris.
                                                    // /.clients logo
                                                    // clients logo
                                                    .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                        .client-block
                                                            .client-head
                                                                a.client-img(href='#')
                                                                    img(src='./images/client_logo_2.png' alt='')
                                                            .client-content
                                                                h4
                                                                    a(href='#') Sample Text
                                                                p
                                                                    | Ecenas in suscipit veliuleres ue mauris oneepurus sedelitseitt
                                                                    | spit vennibh suscipieliu.
                                                    // /.clients logo
                                                    // clients logo
                                                    .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                        .client-block
                                                            .client-head
                                                                a.client-img(href='#')
                                                                    img(src='./images/client_logo_3.png' alt='')
                                                            .client-content
                                                                h4
                                                                    a(href='#') Dummy Company
                                                                p
                                                                    | Aecenas in suscipit veliuleres ue mauris oneepurus sedelitsei
                                                                    | spit vennh suliulerue.
                                                    // /.clients logo
                                                    // clients logo
                                                    .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                                        .client-block
                                                            .client-head
                                                                a.client-img(href='#')
                                                                    img(src='./images/client_logo_4.png' alt='')
                                                            .client-content
                                                                h4
                                                                    a(href='#') Your Company
                                                                p
                                                                    | Maecenas in suscipit veliuleres ue mauris oneepurus sedelitsei
                                                                    | spit vennibh suscipis.
                                                    // /.clients logo
                                                    // /.client-section
    include _footers 
    include _jsPlugin