doctype html
html(lang='en')
  head
    block head 
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
      meta(name='description' content='')
      meta(name='keywords' content='')
      base(href="/")
      // Bootstrap
      link(href='css/bootstrap.min.css' rel='stylesheet')
      // Style CSS
      link(href='css/style.css' rel='stylesheet')
      // Google Fonts
      link(href='https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
      // Owl Carousel CSS
      link(href='css/owl.carousel.css' rel='stylesheet')
      link(href='css/owl.theme.default.css' rel='stylesheet')
      // FontAwesome CSS
      link(rel='stylesheet' type='text/css' href='css/fontello.css')
      link(href='css/font-awesome.min.css' rel='stylesheet')
      link(rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png")
      link(rel="manifest" href="favicon_io/site.webmanifest")
      title People Focused
      // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
      // WARNING: Respond.js doesn't work if you view the page via file://
      //
        [if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]

  body
    // header-section
    include _headers
    block content
      // slider
      .slider
        .owl-carousel.owl-one.owl-theme
          .item
            .slider-img
              img(src='new-images/slider-img-3.jpg' alt='')
            .container
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .slider-captions
                    h1.slider-title
                      strong People Focused Human Resource Consulting
                    p.hidden-xs
                      strong
                        | To be the Foremost Technology Driven People Management
                        | and Capacity Development Enterprise in Africa
                    a.btn.btn-primary.hidden-xs(href='#ServicesList') View All Services
                    | &nbsp; &nbsp;
                    a.btn.btn-outline.hidden-xs(href='/contact') Need help?
          .item
            .slider-img
              img(src='new-images/slider-img-2.jpg' alt='')
            .container
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .slider-captions
                    h1.slider-title
                      strong
                        | Act with integrity and ethical standards at all times and
                        | in all business dealings
                    //
                      <p class="hidden-xs">Fusce suscipit <strong>porttitor felisut eleifat</strong> sem a
                      purus elementum.</p>
                    a.btn.btn-primary.hidden-xs(href='/Jobs') Latest Jobs
                    | &nbsp; &nbsp;
                    a.btn.btn-outline.hidden-xs(href='/contact') Need help?
          .item
            .slider-img
              img(src='new-images/slider-img-1.jpg' alt='')
            .container
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .slider-captions
                    h1.slider-title
                      strong
                        | Delighting our clients by providing the best and
                        | qualitative service that meet their needs 100%.
                    //
                      <p class="hidden-xs">Mauris vitae <strong>condimentum toisque viverra</strong> massanec
                      tincidunt mollis.</p>
                    a.btn.btn-primary.hidden-xs(href='/blog') Latest Stories
                    | &nbsp; &nbsp;
                    a.btn.btn-outline.hidden-xs(href='/contact') Need help?
      // /.slider
      // services
      #ServicesList.space-medium.bg-light
        .container
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .section-title
                h2 Consultation Services
                a.btn-link(href='/services') View Services
          .row
            // service-block
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .service-block
                .service-img
                  img.img-responsive(src='./new-images/training-pic.svg' alt='')
                .service-block
                  h3.service-title(style='margin-top: 35px')
                    strong Training
                  p
                    | Our training solution has been designed to identify top
                    | talents critical to the success of the organization or
                    | enterprise.
                  a.btn-link(href='/training') More Details
            // /.service-block
            // service-block
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .service-block
                .service-img
                  img.img-responsive(src='./new-images/teaching-pics.svg' alt='')
                .service-block
                  h3.service-title(style='margin-top: 35px')
                    strong Coaching
                  p
                    | Our coaching service is aimed at helping individuals and
                    | client achieve personal or professional developmental goal and
                    | expertise.
                  a.btn-link(href='/coaching') More Details
            // /.service-block
            // service-block
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .service-block
                .service-img
                  img.img-responsive(src='./new-images/recruit.svg' alt='')
                .service-block
                  h3.service-title(style='margin-top: 35px')
                    strong Recruitment
                  p
                    | We have the expertise to acquire and retain the right people
                    | and required talents that any organization need to succeed on
                    | a sustainable level.
                  a.btn-link(href='/recruitment') More Details
            // /.service-block
            // service-block
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .service-block
                .service-img
                  img.img-responsive(src='./new-images/consult.svg' alt='')
                .service-block
                  h3.service-title(style='margin-top: 35px')
                    strong Consulting
                  p
                    | We operate a bespoke consulting service where we conduct an
                    | holistic analysis of your organizational health condition as
                    | it relates to HR and proffer the right solution
                  a.btn-link(href='/contact') More Details
            // /.service-block
      // /.services
      // features-section
      .space-medium
        .container
          .row
            // features-center
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              .feature-center.line
                .feature-icon
                  i.icon-network
                .feature-content
                  h3 Our Vision
                  p
                    | To be the Foremost Technology Driven People Management and
                    | Capacity Development Enterprise in Africa .
                  // <a href="#" class="btn-link">learn more</a>
            // /.features-center
            // features-center
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              .feature-center.line
                .feature-icon
                  i.icon-like
                .feature-content
                  h3 Why Choose Us
                  p
                    | People Focused is an HR Consulting firm that specializes in
                    | managing and developing people to increase their productivity
                    | and value.
                  a.btn-link(href='#') learn more
            // /.features-center
            // features-center
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              .feature-center
                .feature-icon
                  i.icon-users
                .feature-content
                  h3 Meet The Team
                  p
                    | We have a strong team who are subject matter experts and
                    | possess vast on the job experience in various field and
                    | economic sector.
                  a.btn-link(href='#') Meet leaders
            // /.features-center
      // /.features-section
      // testimonial-section
      .space-medium.bg-primary
        .container
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .section-title
                h2.text-white Clients we've worked with
          .row
            .testimonial-carousel
              .owl-carousel.owl-theme.owl-two
                // testimonial-item
                .item
                  .col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-12.col-xs-12
                    .testimonial-block
                      .testimonial-content
                        .service-img.rounded-3(style='width: 100%')
                          img.img-responsive(src='https://eventfinest.com/uploads/0000/106/2020/10/26/660498462273445421578397965405495589.jpg' alt='')
                        h1
                          strong Quad-T Events Center, Lagos
                // /.testimonial-item
                // testimonial-item
                .item
                  .col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-12.col-xs-12
                    .testimonial-block
                      .testimonial-content
                        .service-img.rounded-3(style='width: 100%')
                          img.img-responsive(src='https://itedgenews.ng/wp-content/uploads/2020/06/Bowen-University2.jpg' alt='')
                        h1
                          strong Bowen University, Iwo
                // /.testimonial-item
                // testimonial-item
                .item
                  .col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-12.col-xs-12
                    .testimonial-block
                      .testimonial-content
                        .service-img.rounded-3(style='width: 100%')
                          img(src='https://media-exp1.licdn.com/dms/image/C560BAQGyd3UhUOsqLw/company-logo_200_200/0/1519864652850?e=2159024400&v=beta&t=ExGxJvHm6UdLy72I2mCaMGkbvDeXqHr0wk8QA83DEtU' alt='')
                        h1
                          strong FactBase Consulting, Lagos 
                // /.testimonial-item
                // testimonial-item
                .item
                  .col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-12.col-xs-12
                    .testimonial-block
                      .testimonial-content
                        .service-img.rounded-3(style='width: 100%')
                          img(src='https://aggroup.ng/wp-content/uploads/2020/10/ag-fin-logo.png' alt='')
                        h1
                          strong AGFIN MFI, Ibadan 
                // /.testimonial-item
      // /.testimonial-section
      // clients logo
      .space-medium
        .container
          //
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-title">
            <h2>We Succeed Because Our Clients Succeed</h2>
            </div>
            </div>
            </div>
          .row
          hr
          // /.clients logo
          #requestAConsultation.row
            // consultation form
            .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-12.col-xs-12
              h2.text-center.mb40
                | Learn more about People Focused Consulting Services
              .consultantion-form
                h3.mb30.text-center Request A Consultation
                form
                  .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='name')
                          | First Name
                        input.form-control(type='text' placeholder='First Name' required)
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='name')
                          | Last Name
                        input.form-control(type='text' placeholder='Last Name' required)
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='name') Phone
                        input.form-control(type='text' placeholder='Phone' required)
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='company') Company
                        input.form-control(type='text' placeholder='company' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='select')
                        select.form-control(name='select')
                          option(value='') I am interested in
                          option(value='') Training
                          option(value='') Coaching
                          option(value='') Recruitment
                          option(value='') Outsourcing
                          option(value='') Technology
                          option(value='') Consulting
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb20
                      .form-group
                        label.control-label.sr-only(for='textarea')
                        textarea#textarea.form-control.pdt20(name='textarea' rows='4' placeholder='Please describe your HR needs:')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                      button.btn.btn-primary.btn-lg(type='submit' name='singlebutton')
                        | submit
          // /.consultation form
      .cta-wrapper
        .container
          .row
            .col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-12.col-xs-12
              .cta-content
                h1.cta-wrapper-text
                  | Do you want to develop,manage and maximize your efficiency and
                  | productivity to build a sustainanble wealth for yourself?
                p.lead
                  strong A trial with us will convince you.
                // <a href="#" class="btn btn-primary mb20">How to work with us</a>&nbsp; &nbsp;
                a.btn.btn-outline.mb20(href='#requestAConsultation') Request a consultation
      
      // footer
      include  _footers
      // /.footer
      include _jsPlugin
