extends base

block content
    //page-header
    .page-header 
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .page-caption
                        h1.page-title Latest Stories
    // /.page-header
    //  blog-section 
    .content
        .container
            .row
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.mb30
                    .post-block
                        .post-img
                            a.imghover(href='#')
                                img.img-responsive(src='https://images.unsplash.com/photo-1471440671318-55bdbb772f93?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDE3fHxibG9nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' alt='')
                        // post block
                        .post-content
                            h3
                                a.title(href='#') How to study effectively at night
                            .meta
                                span.meta-date 25 December, 2020 
                                span | &nbsp; &nbsp;
                                span.meta-admin By 
                                    a.meta-link(href='#') Admin
                            a.btn-link(href='blog-single.html') read more
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.mb30
                    .post-block
                        .post-img
                            a.imghover(href='#')
                                img.img-responsive(src='https://images.unsplash.com/photo-1544655152-4dc3bc4df059?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDIzfHxibG9nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' alt='')
                        // post block
                        .post-content
                            h3
                                a.title(href='#') Take note of these things when preparing your CV
                            .meta
                                span.meta-date 24 December, 2020 
                                span | &nbsp; &nbsp;
                                span.meta-admin By 
                                    a.meta-link(href='#') Admin
                            a.btn-link(href='blog-single.html') read more
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.mb30
                    .post-block
                        .post-img
                            a.imghover(href='#')
                                img.img-responsive(src='https://images.unsplash.com/photo-1507652955-f3dcef5a3be5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nzl8fGJsb2d8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60' alt='')
                        // post block
                        .post-content
                            h3
                                a.title(href='#') Quick Tips for preparing for an interview
                            .meta
                                span.meta-date 23 December, 2020 
                                span | &nbsp; &nbsp;
                                span.meta-admin By 
                                    a.meta-link(href='#') Admin
                            a.btn-link(href='/blog/sdfadfa') read more
            .row
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.mb30
                    .post-block
                        .post-img
                            a.imghover(href='#')
                                img.img-responsive(src='./images/post_small_4.jpg' alt='')
                        // post block
                        .post-content
                            h3
                                a.title(href='#')
                                    | Top Consultant Website HTML Templates
                            .meta
                                span.meta-date 22 December, 2020 
                                span | &nbsp; &nbsp;
                                span.meta-admin By 
                                    a.meta-link(href='#') Admin
                            a.btn-link(href='blog-single.html') read more
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.mb30
                    .post-block
                        .post-img
                            a.imghover(href='#')
                                img.img-responsive(src='./images/post_small_5.jpg' alt='')
                        // post block
                        .post-content
                            h3
                                a.title(href='#') Consulting Website Bootstrap Templates Free
                            .meta
                                span.meta-date 22 December, 2020 
                                span | &nbsp; &nbsp;
                                span.meta-admin By 
                                    a.meta-link(href='#') Admin
                            a.btn-link(href='blog-single.html') read more
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.mb30
                    .post-block
                        .post-img
                            a.imghover(href='#')
                                img.img-responsive(src='./images/post_small_6.jpg' alt='')
                        // post block
                        .post-content
                            h3
                                a.title(href='#')
                                    | Coaching Website Responsive Templates
                            .meta
                                span.meta-date 21 December, 2020 
                                span | &nbsp; &nbsp;
                                span.meta-admin By 
                                    a.meta-link(href='#') Admin
                            a.btn-link(href='blog-single.html') read more
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .st-pagination
                        ul.pagination
                            li
                                a(href='#' aria-label='previous')
                                    span(aria-hidden='true')
                                        i.fa.fa-angle-left
                            li
                                a(href='#' aria-label='Next')
                                    span(aria-hidden='true')
                                        i.fa.fa-angle-right

    //  blog-section 
    include _footers
    include _jsPlugin