extends base

block content
    // page-header
    .page-header
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .page-caption
                        h1.page-title Blog
    // /.page-header
    // blog-section
    .content
        .container
            .row
                .col-lg-8.col-md-8.col-sm-8.col-xs-12.mb30
                    .post-holder
                        .post-img
                            a(href='#')
                                img.img-responsive(src='./images/post_big_1.jpg' alt='')
                        // post block
                        .post-content
                            h2 Important things to consider when preparing your CV
                            .meta
                                span.meta-date 25 December, 2020 
                                span | &nbsp; &nbsp;
                                span.meta-admin By 
                                    a.meta-link(href='#') Admin
                            p
                                | Donec tortor enim, dapibus a fermentum at, ullamcorper nec
                                | semrabitur sollicitudin ligula eu placerat auctor augue risus
                                | sodales nislvitae vestibulum eros felissed sapieed placerat
                                | tempus magna non rhoncusulla orci miinterdum one feugiat
                                | dolorac mattis ultrices diamunc et semper esras viverra
                                | commodo tristique.
                            .mb40
                                img.alignleft(src='./images/left_img.jpg' alt='')
                                p
                                    | Sedaliquam diam sitamet rncus viven acnisi ullamcorper
                                    | accumsan est egmperdiet erotiam ullamcorperw.
                                p
                                    | Phasellus efficitur feugiat ex,amet gravida velit sodales
                                    | sitamorbi idsemper turpisauris vestulum aliqu duiheaci
                                    | niaonec pellentertor tellunon porttitor nibh semper eget.
                            .mb40
                                img.alignright(src='./images/right_img.jpg' alt='')
                                p
                                    | Sed placerat tempus magna non rhoncusulla orci serons
                                    | miinterdum feugiat dolor acmattis ultrices diamunce one
                                    | everra commodo tristique miinterdum feugiat.
                                p
                                    | Phasellus efficitur feugiat ex,amet gravida velit sodales
                                    | sitamorbi idsemper turpisauris vestulum aliqu duiheaci
                                    | niaonec pellentertor tellunon porttitor nibh semper eget.
                            p
                                | Vestibulum fringilla sapieneu tellus consequat commouis sit
                                | amet feugiat lacusInteger sed tristique mi.urabitur quis neque
                                | interdum nibh feugiat consequat eget in liberoterdum et
                                | malesuada fames ac ante ipsum primisin.
                    .post-navigation
                        // post navigation
                        .row
                            .nav-links
                                .col-lg-6.col-md-6.col-sm-12.col-xs-12.nopr
                                    .nav-previous
                                        // nav previous
                                        div
                                            a.prev-link(href='#') Previous Post
                                        h4.previous-next-title
                                            a.title(href='#') Free Resptonsive HTML5 CSS3 Website Templates
                                    // /. nav previous
                                .col-md-6.col-sm-12.col-xs-12.nopl
                                    .nav-next.text-right
                                        // nav next
                                        div
                                            a.next-link(href='#') Next Post
                                        h4.previous-next-title
                                            a.title(href='#') Human Resource Service Free Templatee
                                    // /.nav previous
                                    // /. post navigation
                                    .author-block.clearfix
                                        // Post author
                                        .author-img
                                            a(href='#')
                                                img(src='images/author.jpg' alt='')
                                        .author-content
                                            .author-header
                                                h3.author-title
                                                    a(href='#') Hope Porter
                                                span.author-meta Author
                                            p
                                                | Mauris placer tellus sed sem venenaet semper euismo Integer a
                                                | justo ac dolor euismod dictum vitae in purus sortor estommodo
                                                | in sapien imauris.
                                            a.btn-link(href='#') View All Post
                                    // /.post author
                                    .related-post-block
                                        .row
                                            .col-lg-12.col-sm-12.col-md-12.col-sm-12
                                                h4.related-post-title.mb30 Related Posts
                                        .row
                                            .col-lg-6.col-sm-6.col-md-6.col-xs-12
                                                .related-post
                                                    // related post
                                                    .related-img
                                                        a.imghover(href='#')
                                                            img.img-responsive(src='images/related_post_1.jpg' alt='')
                                                    .related-post-content
                                                        h4.related-title
                                                            a.title(href='#') Free Resptonsive HTML5 CSS3 Website Templates
                                                        .meta.post-meta
                                                            | in
                                                            a(href='#') "free template"
                                                // /.related post
                                            .col-lg-6.col-sm-6.col-md-6.col-xs-12
                                                .related-post
                                                    // related post
                                                    .related-img
                                                        a.imghover(href='#')
                                                            img.img-responsive(src='images/related_post_2.jpg' alt='')
                                                    .related-post-content
                                                        h4.related-title
                                                            a.title(href='#') Human Resource Service Free Template
                                                        .meta.post-meta
                                                            | in
                                                            a(href='#') "Website template"
                                                // /.related post
                                                // /.related post block
                                                // comments start
                                                .comment-area
                                                    .row
                                                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                            div
                                                                h3.mb30 Comments (03)
                                                                ul.comment-list
                                                                    li
                                                                        .comment-author
                                                                            img.img-circle(src='images/user_img_1.jpg' alt='')
                                                                        .comment-info
                                                                            .comment-header
                                                                                h5.comment-title Columbus Smith
                                                                                span.comment-meta-date 23 December 2017
                                                                            .comment-content
                                                                                p
                                                                                    | Donec tortor enim, dapibus a fermeec semurabitur
                                                                                    | loret .
                                                                            a.btn-link(href='#') Reply
                                                                ul.comment-list
                                                                    li
                                                                        .comment-author
                                                                            img.img-circle(src='images/user_img_2.jpg' alt='')
                                                                        .comment-info
                                                                            .comment-header
                                                                                h5.comment-title Justin Cone
                                                                                span.comment-meta-date 24 December 2017
                                                                            .comment-content
                                                                                p
                                                                                    | Phasellus ullamcorper elementuus iaculis sodales
                                                                                    | iaculiam rhoncus.
                                                                            a.btn-link(href='#') Reply
                                                                        ul.childern
                                                                            li
                                                                                .comment-author
                                                                                    img.img-circle(src='images/user_img_3.jpg' alt='')
                                                                                .comment-info
                                                                                    .comment-header
                                                                                        h5.comment-title Juan Jones
                                                                                        span.comment-meta-date 24 December 2017
                                                                                    .comment-content
                                                                                        p
                                                                                            | Curabitur sollicitudin acerat auctor, augue
                                                                                            | risus sodale.
                                                                                    a.btn-link(href='#') Reply
                                                                ul.comment-list
                                                                    li
                                                                        .comment-author
                                                                            img.img-circle(src='images/user_img_4.jpg' alt='')
                                                                        .comment-info
                                                                            .comment-header
                                                                                h5.comment-title Robert Wilson
                                                                                span.comment-meta-date 23 December 2017
                                                                            .comment-content
                                                                                p
                                                                                    | Various versions have evolved over the years,
                                                                                    | sometimes by accident, sometimes on purpose
                                                                                    | (injected humour and the like). Fusce congue neque
                                                                                    | lacus, a pretium mi uarcu molestie, non cursus
                                                                                    | mauris rta.
                                                                            a.btn-link(href='#') Reply
                                                // comments close
                                                .leave-comments
                                                    h3.mb30 Leave a comments
                                                    .comment-form
                                                        form
                                                            .row
                                                                .col-lg-6.col-md-6.col-md-6.col-xs-12
                                                                    .form-group
                                                                        label.control-label.required.sr-only(for='name')
                                                                        input#name.form-control(name='name' type='text' placeholder='Name' required)
                                                                .col-lg-6.col-md-6.col-md-6.col-xs-12
                                                                    .form-group
                                                                        label.control-label.required.sr-only(for='email')
                                                                        input#email.form-control(name='email' type='email' placeholder='Email' required)
                                                                .col-lg-12.col-md-12.col-md-12.col-xs-12
                                                                    .form-group
                                                                        label.control-label.required.sr-only(for='website')
                                                                        input#website.form-control(name='website' type='text' placeholder='Website' required)
                                                                .col-lg-12.col-md-12.col-md-12.col-xs-12
                                                                    .form-group
                                                                        label.control-label.sr-only(for='textarea')
                                                                        textarea#textarea.form-control.pdt20(name='textarea' rows='5' placeholder='Comments')
                                                                .col-lg-12.col-md-12.col-md-6.col-xs-12
                                                                    .form-group
                                                                        button#singlebutton.btn.btn-primary(name='singlebutton')
                                                                            | Submit
    // blog-section
    include _footers
    include _jsPlugin