extends base 

block content 
    //- // page-header
    //- .service-pageheader
    //-     .container
    //-         .row
    //-             .col-lg-12.col-md-12.col-sm-12.col-xs-12
    //- // /.page-header
    // services-single
    .content(style='padding-bottom: 0;')
        .container
            .row
                .Service-description
                    .service-data.mb30
                        .post-job-description(style='max-width: 600px;')
                            h1.mb30.text-center Sign In
                            form(action='#' method='POST' name="login")
                                .row
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        .form-group
                                            label.control-label.sr-only(for='email') Email
                                            input#Email.form-control(type='email' name='email' placeholder='Email*' required)
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        .form-group
                                            label.control-label.sr-only(for='password') Password
                                            input#password.form-control(type='password' name='password' placeholder='Password*' required)
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        button#submit-job-details.btn.btn-primary.btn-lg(type='submit') Submit 
                                        |
                                        |
                                        span.alert.alert-success(role="alert" style="display:none")
                                            span(class="glyphicon glyphicon-ok" aria-hidden="true")
                                            |
                                            | 
                                        span.alert.alert-danger(role="alert" style="display:none")
                                            span(class="glyphicon glyphicon-warning-sign" aria-hidden="true")
                                            |
                                            | 
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        | Forgot your password?
                                        |
                                        a(href='/forgetPassword') Click here to reset your password.
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        | Don't have an account yet?
                                        |
                                        a(href='/signUp') Click here to create an account.
                    .col-lg-4.col-md-4.col-sm-5.col-xs-12
                        // sidenav-section
                        .sidenav
                            ul
                                li
                                    a(href='service-single.html') Training 
                                li
                                    a(href='#') Coaching
                                li
                                    a(href='service-single.html') Recruitment
                                li
                                    a(href='service-single.html') Consulting
                                li
                                    a(href='service-single.html') Technology
                        // /.sidenav-section
                        // Form-section
                        #requestAConsultation.service-sidebar.consultantion-form.mb30
                            h3.mb30.text-center Request A Consultation
                            form
                                .row
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        .form-group
                                            label.control-label.sr-only(for='name') First Name
                                            input.form-control(type='text' placeholder='First Name' required)
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        .form-group
                                            label.control-label.sr-only(for='name')  Last Name
                                            input.form-control(type='text' placeholder='Last Name' required)
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        .form-group
                                            label.control-label.sr-only(for='name') Phone
                                            input.form-control(type='text' placeholder='Phone' required)
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        .form-group
                                            label.control-label.sr-only(for='company') Company
                                            input.form-control(type='text' placeholder='company' required)
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        .form-group
                                            label.control-label.sr-only(for='select')
                                            select.form-control(name='select')
                                                option(value='') I am interested in
                                                option(value='') Training 
                                                option(value='') Coaching
                                                option(value='') Consulting
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb20
                                        .form-group
                                            label.control-label.sr-only(for='textarea')
                                            textarea#textarea.form-control.pdt20(name='textarea' rows='4' placeholder='Please describe your HR needs:')
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        button.btn.btn-primary.btn-lg(type='submit' name='singlebutton') submit
                        // /.Form-section
                        // widget-cta
                        .widget-cta
                            .widget-cta-block
                                .widget-cta-icon
                                    i.icon-012-handshake
                                .widget-cta-content
                                    h3.text-white Let Us Help You
                                    p You are just a click away from getting the best services you want .
                                    a.btn.btn-white-outline(href='/contact') contact us
                        // /.widget-cta
    // /. services-single
    include _footers
    include _jsPlugin