extends base

block content 
    // services-single
    .content(style='padding-bottom: 0;')
      .container
        .row
          .Service-description
            .service-data.mb30
              .post-job-description(style='max-width: 600px;')
                h1.mb30.text-center Post a Job Opening
                form(action='#' method="POST" name="uploadJob")
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-details
                      .form-group
                        label.control-label.sr-only(for='Company-name') Company name
                        input#companyName.form-control(type='text' name='company-name' placeholder='Company Name' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-details
                      .form-group
                        label.control-label.sr-only(for='Company-email') Company Email
                        input#companyEmail.form-control(type='email' name='company-email' placeholder='Company Email' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-details
                      label.control-label(for='Company-description' style="margin-bottom:0; margin-top:5px;") 
                        | Describe what the company does
                      .form-group
                        input#companyDescription.form-control(type='text' name='company-description' placeholder='Company Description' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-details
                      label.control-label(for='Category' style="margin-bottom:0; margin-top:10px; padding-bottom:0;") 
                        | Category
                      .form-group
                        select#category.form-control(name="category" style="margin-top:0;" required)
                          option(value="" selected) Choose a category
                          option(value="Agriculture") Agriculture 
                          option(value="Architecture And Construction") Architecture And Construction
                          option(value="Education and Training") Education and Training
                          option(value="Business Management And Administration") Business Management And Administration
                          option(value="Marketing") Marketing 
                          option(value="Hospitality And Tourism") Hospitality And Tourism
                          option(value="Information Technology") Information Technology
                          option(value="Transportation and Logistics") Transportation and Logistics
                          option(value="Others") Others
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='job-title' style="margin-top:15px; margin-bottom:0;") About the Job
                      .form-group
                        input#jobTitle.form-control(type='text' name='job-title' placeholder='Job Title' required)
                      .form-group
                        label.control-label.sr-only(for='job-Summary') Job Summary
                        input#jobSummary.form-control(type='text' name='job-summary' placeholder='Job Summary' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='location') Location
                      .form-group
                        input#address.form-control(type='text' name='address' placeholder='address' required)
                        input#city.form-control(type='text' name='city' placeholder='city' required)
                        input#country.form-control(type='text' name='country' placeholder='Country' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='link-to-job-1' style="margin-top:10px;")
                        | Relevant links to job on other sites
                      .form-group
                        input#linkToJob1.form-control(type='url' name='links' placeholder='Link 1' required)
                        input#linkToJob2.form-control(type='url' name='links' placeholder='Link 2')
                        input#linkToJob3.form-control(type='url' name='links' placeholder='Link 3')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='remote' style='margin-bottom: 0; margin-top:10px;') Remote
                      br
                      input#remoteYes(type='radio' name='remote' value= "YES" required)
                      label(for='remote-yes' style='margin-left:5px; margin-left:5px; margin-right:15px;;') YES
                      input#remoteNo(type='radio' name='remote'  value= "NO" required)
                      label(for='remote-no' style='margin: 0 5px;') NO
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      input#hire.form-control(type='number' name='hires' min='1' placeholder='How many hires' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      input#phone.form-control(type='tel' name='phone' min='1' placeholder='Phone Number')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='employ-type' style='margin-bottom: 0;margin-top:10px;')
                        | What
                        | type of employment is it ?
                      br
                      input#fullTime(type='radio' name='employType' value="Full TIme" required)
                      label(for='fullTime' style='margin-left:5px; margin-right:15px;') Full Time
                      input#partTime(type='radio' name='employType' value="Part Time" required)
                      label(for='partTime') Part Time
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='contractType' style='margin-bottom: 0; margin-top:10px;')
                        | What
                        | Contract type is it ?
                        span(style='opacity: 0.5;')
                          | (Select all that apply)
                      br
                      input#Temporary(type='checkbox' name='contractTypes' value="Temporary")
                      label(for='contractTypes' style='margin-left:5px; margin-right:15px;') Temporary
                      br
                      input#Contract(type='checkbox' name='contractTypes' value="Contract")
                      label(for='contractTypes' style='margin-left:5px; margin-right:15px;') Contract
                      br
                      input#Internship(type='checkbox' name='contractTypes' value="Internship")
                      label(for='contractTypes' style='margin-left:5px; margin-right:15px;') Internship
                      br
                      input#Commission(type='checkbox' name='contractTypes' value="Commission")
                      label(for='contractTypes' style='margin-left:5px; margin-right:15px;') Commission
                      br
                      input#New-Grad(type='checkbox' name='contractTypes' value="New Grad")
                      label(for='contractTypes' style='margin-left:5px; margin-right:15px;') New Grad
                      br
                      input#permanent(type='checkbox' name='contractTypes' value="Permanent")
                      label(for='contractTypes' style='margin-left:5px; margin-right:15px;') Permanent
                      br
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='salary' style='margin-bottom: 0; margin-top:10px;')
                        | Salary
                      br
                      input#minSalary(type='number' name='salary' min='1000' placeholder='minimum amount')
                      br
                      span To
                      br
                      input#maxSalary(type='number' name='salary' min='1000' placeholder='maximum amount')
                      br
                      select#salaryBasis(name='salary-basis' style='margin-top:15px;')
                        option(value='monthly' selected) per month
                        option(value='yearly') per year
                        option(value='weekly') per week
                        option(value='daily') per day
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='submit-cv' style='margin-bottom: 0; margin-top:10px;')
                        | Do you
                        | want applicants to submit a CV ?
                      br
                      input#sumbitCvYes(type='radio' name='submit-cv')
                      label(for='sumbit-cv-yes' style='margin-left:5px; margin-right:15px;') Yes
                      input#submitCvNo(type='radio' name='submit-cv')
                      label(for='submit-cv-no' style='margin-left:5px; margin-right:15px;') No
                      input#submitCvOptional(type='radio' name='submit-cv')
                      label(for='submit-cv-optional' style='margin-left:5px; margin-right:15px;') Optional
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='application-deadline' style='margin-bottom: 0; margin-top:10px;') Is there an application deadline ? 
                      br
                      input#applicationDeadlineYes(type='radio' name='application-deadline')
                      label(for='application-deadline-yes' style='margin-left:5px; margin-right:15px;') Yes
                      input#applicationDeadlineNo(type='radio' name='submit-cv')
                      label(for='application-deadline-no' style='margin-left:5px; margin-right:15px;') No
                      br
                      label(for='application-deadline-date') If yes
                      input#applicationDeadlineDate(type='date' name='application-deadline-date')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='employer-email' )
                        | Updates about this job will be sent to
                      br
                      input#employerEmail(type='email' name='employer-email' placeholder='Email')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='education' style='margin-bottom: 0; margin-top:10px;') Minimum Education Qualification
                      br
                      input#minimumEducationSCE(type='radio' name='minimum-education' required)
                      label(for='minimum-education' style='margin-left:5px; margin-left:5px; margin-right:15px;;') SSCE 
                      br
                      input#minimumEducationNCE(type='radio' name='minimum-education' required)
                      label(for='minimum-education-NCE' style='margin: 0 5px;') NCE
                      br
                      input#minimumEducationND(type='radio' name='minimum-education' required)
                      label(for='minimum-education-ND' style='margin: 0 5px;') ND
                      br
                      input#minimumEducationHND(type='radio' name='minimum-education' required)
                      label(for='minimum-education-HND' style='margin: 0 5px;') HND
                      br
                      input#minimumEducationUG(type='radio' name='minimum-education' required)
                      label(for='minimum-education-UG' style='margin: 0 5px;') UNDERGRADUATE
                      br
                      input#minimumEducationMASTERS(type='radio' name='minimum-education' required)
                      label(for='minimum-education-MASTERS' style='margin: 0 5px;') MASTERS
                      br
                      input#minimumEducationDOCTORATE(type='radio' name='minimum-education' required)
                      label(for='minimum-education-DOCTORATE' style='margin: 0 5px;') DOCTORATE
                      br
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='experience-level' style='margin-bottom: 0; margin-top:10px;') Experience Level
                      br
                      input#junior(type='radio' name='experience-level' required)
                      label(for='experience-level-junior' style='margin-left:5px; margin-left:5px; margin-right:15px;;') Junior
                      br
                      input#intermediate(type='radio' name='experience-level' required)
                      label(for='experience-level-intermediate' style='margin: 0 5px;') Intermediate
                      br
                      input#Senior(type='radio' name='experience-level' required)
                      label(for='experience-level-senior' style='margin: 0 5px;') Senior
                      br
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='experience-length' )
                        | Experience Length
                      br
                      input#experienceLength(type='number' name='experience-length' placeholder='Years of experience')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      label.control-label(for='Job-description')
                        | Job Description
                      br
                      label(for='job-description')
                        | Describe the responsibilities of this job ,required
                        | work experiences ,skills or education.
                      textarea#job-description(name='job-description' cols='50' rows='8' style='resize: none; border-radius: 5px;')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.job-detail
                      button#submit-job-details.btn.btn-primary.btn-lg(type='submit') Submit
            .col-lg-4.col-md-4.col-sm-5.col-xs-12
              // sidenav-section
              .sidenav
                ul
                  li
                    a(href='service-single.html') Training 
                  li
                    a(href='#') Coaching
                  li.active
                    a(href='service-single.html') Recruitment
                  li
                    a(href='service-single.html') Consulting
                  li
                    a(href='service-single.html') Technology
              // /.sidenav-section
              // Form-section
              #requestAConsultation.service-sidebar.consultantion-form.mb30
                h3.mb30.text-center Request A Consultation
                form
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='name') First Name
                        input.form-control(type='text' placeholder='First Name' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='name')  Last Name
                        input.form-control(type='text' placeholder='Last Name' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='name') Phone
                        input.form-control(type='text' placeholder='Phone' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='company') Company
                        input.form-control(type='text' placeholder='company' required)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .form-group
                        label.control-label.sr-only(for='select')
                        select.form-control(name='select')
                          option(value='') I am interested in
                          option(value='') Training 
                          option(value='') Coaching
                          option(value='') Consulting
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb20
                      .form-group
                        label.control-label.sr-only(for='textarea')
                        textarea#textarea.form-control.pdt20(name='textarea' rows='4' placeholder='Please describe your HR needs:')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      button.btn.btn-primary.btn-lg(type='submit' name='singlebutton') submit
              // /.Form-section
        // widget-cta
        .widget-cta
          .widget-cta-block
            .widget-cta-icon
              i.icon-012-handshake
            .widget-cta-content
              h3.text-white Let Us Help You
              p You are just a click away from getting the best services you want .
              a.btn.btn-white-outline(href='/contact') contact us
        // /.widget-cta
      // /. services-single
    include _footers
    include _jsPlugin