block head 
    link(rel="stylesheet" href="css/server-error.css")
block content 
    h5 Internal Server error !
        h1 5
        h1 00
        .box
            span
            span
            span
            span
            span
        .box
            span
            span
            span
            span
            span
        p=message
            br
            a(href='/') Go Back
            | or visit here later.
