extends baseEmail 

block content 
    h2= subject 
    p Hello #{firstname},
    p Someone has requested a link to change your password.
    p You can do this by submitting a patch request with your new password and passwordConfirm to the link below.
    a(href=`${url}`) Reset Password.
    p If you did not forget your password , please ignore this email